*,
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: #f2f2f2;
}
.hotels-description h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
}
.main-navigation {
    position: relative;
}
.nav-list {
    min-height: 56px;
    background-color: #ffffff;
}
.hotels-sorting ul,
.main-navigation ul {
    margin: 0px;
    padding: 0px;
}
.main-navigation ul {
    font-size: 0px;
}
.nav-list li {
    display: inline-block;
    width: 240px;
    min-height: 56px;
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.nav-list li:nth-child(4n+1) {
    padding-left: 72px;
    text-align: left;
}
.nav-list li:nth-child(4n) {
    padding-right: 72px;
    text-align: right;
}
.nav-list li:nth-child(4n+2) {
    margin-right: 240px;
}
.nav-list a {
    text-decoration: none;
    color: #000000;
}
.nav-list a:hover {
    color: #81b3d2;
}
.nav-list a:active {
    color: rgba(0, 0, 0, 0.3);
}
.nav-list a.active {
    color: #766357;
}
.logo {
    position: absolute;
    left: 531px;
}
.banner {
    background-color: #ddeaf3;
    background-image: url("../img/sedona-main-foto.jpg");
    background-position: 0px -56px;
    background-repeat: no-repeat;
    min-height: 508px;
}
.banner-welcome {
    padding-top: 76px;
    padding-left: 371px;
    padding-right: 371px;
}
.banner-cut {
    background-image: url("../img/sedona-main-foto-overlay.png");
    background-repeat: no-repeat;
    margin-top: 20px;
    min-height: 57px;
}
.features-title {
    min-height: 105px;
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 36px;
    padding-left: 312px;
    padding-right: 312px;
}
.features-title-name {
    font-size: 21px;
    line-height: 26px;
}
.features-title-description {
    font-size: 14px;
    line-height: 26px;
    margin-top: 27px;
}
.features-blue {
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
}
.features-grey {
    position: relative;
    z-index: 20;
    min-height: 256px;
    background-color: #eeeeee;
}
.features-item {
    float: left;
    width: 400px;
    text-align: center;
}
.features-item span {
    display: block;
    font-size: 14px;
    line-height: 21px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 125px;
    padding-right: 124px;
}
.features-item .features-name {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 0px;
}
.features-grey .features-name {
    padding-top: 48px;
}
.features-item p {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    padding-left: 68px;
    padding-right: 68px;
}
.features-blue .features-description {
    padding-left: 48px;
    padding-right: 48px;
}
.features-image1 {
    float: right;
    width: 800px;
    font-size: 0px;
    line-height: 0px;
}
.features-image2 {
    float: left;
    width: 800px;
    font-size: 0px;
    line-height: 0px;
}
.features-attention {
    min-height: 330px;
    background-color: #ffffff;
}
.features-attention-reasons {
    width: 400px;
    float: left;
    text-align: center;
}
.features-attention-name {
    position: relative;
    display: block;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 108px;
    margin-top: 54px;
    margin-bottom: 23px;
}
.features-attention-name::before {
    content: "";
    position: absolute;
    display: block;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
}
.name1::before {
    top: 4px;
    left: 50%;
    width: 75px;
    height: 72px;
    margin-left: -37.5px;
    background-position: -959px 0px;
}
.name2::before {
    top: 6px;
    left: 50%;
    width: 74px;
    height: 70px;
    margin-left: -37px;
    background-position: -741px 0px;
}
.name3::before {
    top: 0px;
    left: 50%;
    width: 64px;
    height: 76px;
    margin-left: -32px;
    background-position: -855px 0px;
}
.features-attention-reasons p {
    font-size: 14px;
    line-height: 21px;
    padding-left: 57px;
    padding-right: 55px;
}
.features-white {
    position: relative;
    z-index: 20;
    min-height: 291px;
    background-color: #ffffff;
    text-align: center;
}
.features-white-name {
    display: block;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    padding-top: 55px;
    margin-bottom: 30px;
}
.hotel-search {
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding-left: 380px;
    padding-right: 380px;
    margin-bottom: 48px;
    text-decoration: none;
}
.hotel-search-submit {
    display: block;
    margin-left: 316px;
    padding-top: 30px;
    width: 568px;
    min-height: 86px;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
}
@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(-395px);
        transform: translateY(-395px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@keyframes move {
    0% {
        -webkit-transform: translateY(-395px);
        transform: translateY(-395px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
.popup {
    position: absolute;
    left: 316px;
    top: 0px;
    width: 568px;
    min-height: 395px;
    padding: 55px;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    -webkit-animation: move 0.6s;
    animation: move 0.6s;
}
.popup-hide {
    display: none;
}
.popup-form {
    width: 458px;
    height: 285px;
}
.popup-form label {
    display: inline-block;
    vertical-align: top;
    width: 111px;
    min-height: 38px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.guest-amount-child label {
    width: 63px;
}
.popup-form input {
    border: none;
    float: right;
}
.hotel-date {
    position: relative;
    margin-bottom: 30px;
    min-height: 38px;
}
.suitable-date {
    display: inline-block;
    vertical-align: top;
    width: 347px;
    height: 38px;
    padding-left: 13px;
    padding-right: 38px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
}
.suitable-date:hover {
    background-color: #ebebeb;
}
.suitable-date:focus {
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}
.button-calendar {
    position: absolute;
    border: none;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 38px;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
    background-position: -521.5px 8px;
}
.button-calendar:hover {
    background-position: -460.5px 8px;
}
.button-calendar:active {
    background-position: -399.5px 8px;
}
.guest-amount {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-height: 38px;
    margin-bottom: 54px;
}
.guest-amount-adult {
    float: left;
    width: 229px;
}
.guest-amount-child {
    float: right;
    width: 179px;
}
.amount-adult,
.amount-child {
    width: 116px;
    height: 38px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    float: right;
}
.button-plus-minus {
    position: absolute;
    border: none;
    width: 38px;
    height: 38px;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
}
.button-minus {
    top: 0px;
    right: 76px;
    background-position: -1624px 17.5px;
}
.button-minus:hover {
    background-position: -1572px 17.5px;
}
.button-minus:active {
    background-position: -1520px 17.5px;
}
.button-plus {
    top: 0px;
    right: 0px;
    background-position: -1963.5px 13.5px;
}
.button-plus:hover {
    background-position: -1912.5px 13.5px;
}
.button-plus:active {
    background-position: -1861.5px 13.5px;
}
.submit-find {
    width: 458px;
    min-height: 58px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "PT Sans", Arial, sans-serif;
}
.submit-find:hover {
    background-color: #669ec0;
}
.submit-find:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.map {
    position: relative;
    background: #cbdda9 url("../img/map.jpg") no-repeat;
    width: 1200px;
    height: 593px;
}
.frameborder {
    border: 0px;
}
.footer-up {
    position: relative;
    margin-top: -120px;
}
.footer-container {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 120px;
    text-align: center;
}
.footer-tag {
    float: left;
    width: 400px;
}
.tag-visit-sedona {
    display: block;
    margin-top: 46px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.footer-social {
    float: left;
    width: 400px;
}
.social {
    display: inline-block;
    vertical-align: top;
    margin-top: 36px;
    margin-right: 2px;
    width: 46px;
    height: 48px;
    font-size: 0px;
    background: #81b3d2 url("../img/sprite-sheet.png") no-repeat;
}
.social:last-child {
    margin-right: 0px;
}
.social-tw {
    background-position: -2761px 17px;
}
.social-fb {
    background-position: -673px 13px;
}
.social-yt {
    background-position: -2940px 15px;
}
.social:hover {
    background-color: #669ec0;
}
.social-tw:hover {
    background-position: -2704px 17px;
}
.social-fb:hover {
    background-position: -623px 13px;
}
.social-yt:hover {
    background-position: -2880px 15px;
}
.social:active {
    background-color: #5496bd;
}
.social-tw:active {
    background-position: -2647px 17px;
}
.social-fb:active {
    background-position: -573px 13px;
}
.social-yt:active {
    background-position: -2820px 15px;
}
.footer-copyright {
    float: left;
    width: 400px;
    opacity: 0.9;
    padding-left: 102px;
    padding-right: 103px;
}
.footer-copyright p {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 80px;
    margin-top: 46px;
    font-size: 14px;
    line-height: 26px;
}
.coryright-htmlacademy {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 41px;
    font-size: 0;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
    background-position: -1380px 0px;
    width: 113px;
    height: 39px;
}
.coryright-htmlacademy:hover {
    background-position: -1227px 0px;
}
.coryright-htmlacademy:active {
    background-position: -1074px 0px;
}
/* СТИЛИ ДЛЯ СТРАНИЦЫ ОТЕЛЕЙ */

.conditions {
    background-color: #293c43;
    background-image: url("../img/hotels-main-foto.jpg");
    background-position: 0px -56px;
    background-repeat: no-repeat;
    min-height: 217px;
}
.conditions-choose {
    width: 183px;
    margin-left: 72px;
    float: left;
}
.conditions-name {
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 27px;
}
.conditions-option {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 25px;
}
.conditions-choose input[type="checkbox"] {
    display: none;
}
.label-checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}
.label-checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: -3px;
    left: -1px;
    width: 26px;
    height: 22px;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
    background-position: -1813px 0px;
}
.label-checkbox input[type="checkbox"]:disabled +.checkbox-indicator {
    background-position: -1689px 0px;
}
.label-checkbox input[type="checkbox"]:checked +.checkbox-indicator {
    background-position: -2160px 0px;
}
.label-checkbox input[type="checkbox"]:checked:disabled +.checkbox-indicator {
    background-position: -2028px 0px;
}
.price-choose {
    width: 328px;
    margin-right: 72px;
    float: right;
    color: #ffffff;
}
.price-controls {
    position: relative;
    width: 318px;
    height: 36px;
    font-size: 0;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 145px;
    padding-left: 65px;
}
.price-controls input {
    width: 50px;
    margin: 0px;
    color: inherit;
    font: inherit;
    line-height: 21px;
    background-color: transparent;
    border: none;
    outline: none;
}
.range-controls {
    position: relative;
    margin-top: 20px;
    margin-bottom: 32px;
    padding-left: 10px;
}
.range-controls .scale {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    background-color: #1c4f80;
}
.toggle-min {
    left: 10px;
}
.toggle-max {
    left: 80%;
}
.button-show {
    display: block;
    margin: 0 auto;
    width: 137px;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.button-show:hover {
    background: #ffffff;
    color: #000000;
}
.hotels-find {
    min-height: 86px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 72px;
    padding-right: 72px;
}
.hotels-find-amount {
    width: 164px;
    min-height: 86px;
    font-size: 21px;
    line-height: 26px;
    padding-top: 30px;
    float: left;
}
.hotels-sorting {
    width: 855px;
    min-height: 86px;
    float: left;
}
.hotels-sorting-name {
    width: 116px;
    font-size: 12px;
    line-height: 18px;
    padding-top: 36px;
    float: left;
}
li.sort-left {
    display: block;
    float: left;
    width: 81px;
    font-size: 12px;
    line-height: 18px;
    padding-top: 36px;
}
.sort-left a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}
.sort-left a.active,
.sort-left a.active:hover,
.sort-left a.active:active {
    color: #81b3d2;
    border-bottom: 0px;
}
.sort-left a:hover {
    color: #81b3d2;
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
}
.sort-left a:active {
    text-decoration: none;
    color: #000000;
    border-bottom: 0px dotted #81b3d2;
}
.hotels-arrows {
    position: relative;
    width: 35px;
    height: 10px;
    font-size: 0px;
    margin-top: 40px;
    float: right;
}
.arrows-up-down {
    position: absolute;
    display: block;
    width: 11px;
    height: 10px;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
}
.arrows-up {
    top: 0px;
    left: 0px;
    background-position: -357px 0px;
}
.arrows-up:hover {
    background-position: -306px 0px;
}
.arrows-up:active {
    background-position: -255px 0px;
}
.arrows-down {
    top: 0px;
    right: 0px;
    background-position: -204px 0px;
}
.arrows-down:hover {
    background-position: -102px 0px;
}
.arrows-down:active {
    background-position: -51px 0px;
}
.hotels-arrows a.active {
    background-position: 0px 0px;
}
.hotels {
    min-height: 151px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 30px;
    padding-bottom: 24px;
}
.hotels-photo {
    width: 135px;
    float: left;
}
.hotels-description {
    position: relative;
    width: 363px;
    min-height: 100px;
    margin-left: 30px;
    margin-top: -5px;
    float: left;
}
.hotels-name {
    display: block;
    margin-bottom: 4px;
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}
.hotels-name:hover {
    color: #81b3d2;
}
.hotels-name:active {
    color: rgba(0, 0, 0, 0.3);
}
.hotel-type {
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px;
    width: 115px;
}
.hotel-price {
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 40px;
    width: 115px;
}
.hotels-button {
    position: absolute;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 17px;
    padding-top: 3px;
}
.hotels-details {
    bottom: 5px;
    left: 0px;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}
.hotels-details:hover {
    background-color: #669ec0;
    color: #ffffff;
}
.hotels-details:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.hotels-booking {
    bottom: 5px;
    left: 116px;
    width: 142px;
    height: 27px;
    background-color: #766357;
}
.hotels-booking:hover {
    background-color: #604e43;
    color: #ffffff;
}
.hotels-booking:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.rating1,
.rating2,
.rating3 {
    position: relative;
    width: 110px;
    min-height: 100px;
    margin-left: 30px;
    margin-top: -5px;
    float: right;
}
.rating-name {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    padding-left: 15px;
    padding-top: 3px;
}
.rating::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    background: transparent url("../img/sprite-sheet.png") no-repeat;
}
.rating1::before {
    width: 89px;
    height: 17px;
    background-position: -2413px 0px;
}
.rating2::before {
    width: 65px;
    height: 17px;
    background-position: -2308px 0px;
}
.rating3::before {
    width: 42px;
    height: 17px;
    background-position: -2226px 0px;
}